################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoResizer/bin
/PhotoResizer/obj
/PhotoResizeLib/obj/Release
/PhotoResizeLib/bin/Release
