################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoResizer/bin
/PhotoResizer/obj
/PhotoResizeLib/bin
/PhotoResizeLib/obj
